<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Find My Rep</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css" >
    <script>const apiKey = "<%= apiKey %>"</script>
</head>
<body>
    <h1>Politicians</h1>
    <h3>Displaying Results for: "<span id="addressInput"></span> "</h2>
    <p>(<a href="/">Change Your Address</a>)</p>

    <div id="root"></div>
    <p id="demo"></p>
    <script src="main.js"></script>

</body>
</html>